@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.header {
  display: flex;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 20px 0px;
  align-items: center;
  font-size: 24px;
  font-family: "PT Sans", serif;
  font-weight: 400;
  justify-content: space-between;
  background-color: white;

  position: sticky;
  top: 0;
}
.header__logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__links {
  display: flex;
  gap: 20px;
}
.header__links p,
b {
  font-size: 18px;
}
@media (max-width: 900px) {
  .header {
    display: block;
    padding: 10px 0px;
  }
  .header__logo {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 5px;
  }
  .header__links {
    justify-content: space-around;
  }
}
@media (max-width: 330px) {
  .header__links p,
  b {
    font-size: 14px;
  }
}
